<div class="flex flex-col gap-4 justify-start items-center pt-16 pb-12 min-h-screen">
  <app-logo class="mb-8"/>
  <div class="w-full flex flex-col gap-2">
    <h3 class="text-2xl font-semibold mb-3">Important</h3>
    @for (todo of importantTodos; track todo){
      <app-todo-card class="w-full" [todo]="todo"/>
    }
  </div>
  <div class="w-full flex flex-col gap-2">
    <h3 class="text-2xl font-semibold mb-3">Tasks</h3>
    @for (todo of todos; track todo){
      <app-todo-card class="w-full" [todo]="todo"/>
    }
  </div>
  <app-add-todo-form class="mt-auto w-full"/>
</div>
